
body{
    background-color: #dc3545;
}
form{
    
     margin: 0 auto;
     width:310px; 
     text-align: center;
}
h1{
    
    text-align: center;
    margin-left: 15px;
    
    
}
input{
    margin:0 auto;
    width: 140px;
 
    display: flex;

}
.file{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}



.login{
    color:green;
    margin-right: 140px;
} 
.password{
    color:green;
    margin-right: 111px;
}
button{
    padding: auto;
}
label:hover {
    color:rgb(233, 229, 10);
}
